appdirs==1.4.3
asn1crypto==0.22.0
attrs==16.3.0
autobahn==0.10.9
autobahntestsuite==0.7.6
Automat==0.5.0
cffi==1.10.0
constantly==15.1.0
cryptography==1.8.1
enum34==1.1.6
idna==2.5
incremental==16.10.1
ipaddress==1.0.18
Jinja2==2.9.6
klein==17.2.0
linecache2==1.0.0
MarkupSafe==1.0
packaging==16.8
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycparser==2.17
pyOpenSSL==16.2.0
pyparsing==2.2.0
service-identity==16.0.0
six==1.10.0
traceback2==1.4.0
Twisted==17.1.0
txaio==2.1.0
ujson==1.35
unittest2==1.1.0
Werkzeug==0.12.1
wsaccel==0.6.2
zope.interface==4.3.3
